
.links{
    margin-left: 1180px;
}
a{
    margin: 5px;
}
#id{
    margin-left: 0;
}
.logo{
    margin-left: 500px;
    margin-top: 150px;
}
.work-box{
    border: 2px solid #000;
    border-radius: 50px;
    width: 500px;
    margin-left: 400px;
    padding:7px;
}
.mic{
    margin-left: 80%;
    margin-right: 18px;
}
.link{
    margin-top: 30px;
    margin-left: 500px;
}
nav{
    margin-top:220px ;
    background-color: gray;
    color: black;
}
nav a{
    color: #000;
}
.right{
    margin-left:1100px ;

}