.align-square{
    display: flex;
    justify-content: space-evenly;
}
.square {
    height: 100px;
    width: 100px;
    background-color: blue;
}
.name{
    font-size: 4rem;
    margin-left: 600px;
}