*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    background-color: black;
    color: #fff;
    height: 100vh;
    width: 100%;
    padding: 20px;
    
}
.cont-one, .cont-two{
    border:3px solid violet;
    padding: 25px;
    width: 500px;
}
.one, .two, .three, .four{
    border: 2px solid blue;
}