
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



{
    color: #00000000;
}
{
    font-size: 64px;
    color: blueviolet!important;
}
span{
    text-transform: uppercase;
    background-color: brown;
}
#second{
 font-size: medium;
}
/* .body{
    border: 3px solid black;
    background-color: papayawhip;
    color: rgb(255, 0,0);
} */
/* *{
    border: 1px solid red;
} */
html{
    font-size: 22px;
}
.h1{
    border:2px dashed red;
    width: 50px;
    font-size: 3 rem;
    padding: 0.5em;
}
/* body{
    font-size: 2rem;
    font-family:"roboto",sans-serif;
}
ul{
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color:#000;
    margin: 0;

}
li{
    display: inline-block;
    margin-inline:0.5rem;
}
li a{
    color: #fff;
    text-decoration: none;
}
li a:hover,
li a:focus{
    text-decoration: underline;
} */
body{
    font-size: 1.5rem;
    font-family: "roboto",sans-serif;
}
.block{
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: #fff;padding: 1rem;
}
.left{
    float: left;
    margin-right: 1rem;
}
.right{
    float: left;
    margin-left: 1rem;
}
.clear{
    clear: both;
}
section{
    background-color: bisque;
    border: 1px solid black;
    padding: 1rem;
    display: flow-root;

}
